nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 20px;
  height: 100px;
  font-size: 2rem;
  border-bottom: 2px solid var(--bg-color);
}

nav > .logo {
  display: flex;
  align-items: center;
  line-height: 100%;
  font-size: 1.6rem;
}
nav > .logo p {
  transform: translateY(3px);
  font-style: italic;
}

nav img {
  padding-right: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0px 20px 0px 0px;
}
nav li a {
  padding: 6px 7px 1px;
  border: 1px solid var(--color);
  border-radius: 5px;
  display: inline-block;
}
nav li a:hover {
  transition: all 0.2s;
  opacity: 0.8;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}
.active {
  background: var(--color);
  color: var(--bg-color);
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0px 20px;
  }
  nav ul{
    text-align: right;
  }
  nav li {
    font-size: 0.8rem;
    display: block;
    margin: 5px 0px;
  }
}