
* {
  margin: 0;
  font-family: 'Grotesque MT Std', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: var(--color);
  background: var(--bg-color);
}