@import url("https://use.typekit.net/iyv6lut.css");

:root {
  --color: rgb(5, 5, 5);
  --color-opaque: rgb(5, 5, 5, 0.6);
  --bg-color: rgb(245, 245, 245);
  --bg-color-opaque: rgb(245, 245, 245, 0.2);
}

* {
  margin: 0;
  font-family: 'monotype-grotesque', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  color: var(--color);
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.invert .cls-1 {
  fill: var(--bg-color) !important;
}
